@model zakjr.Models.BlogPost
@using zakjr.Models

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Blog Admin - Edit Post";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="small-12 column"><h4>Editing Blog Post</h4></div>
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)
    </div>
    <div class="row">
        <div class="small-12 medium-6 large-4 column">
            @Html.LabelFor(model => model.Title)
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div class="small-12 medium-6 large-4 column">
            @Html.LabelFor(model => model.Subtitle)
            @Html.EditorFor(model => model.Subtitle)
            @Html.ValidationMessageFor(model => model.Subtitle)
        </div>
        <div class="small-12 medium-6 large-4 column">
            @Html.LabelFor(model => model.FeaturedImage)
            @Html.EditorFor(model => model.FeaturedImage)
            @Html.ValidationMessageFor(model => model.FeaturedImage)
        </div>
    </div>
    <div class="row">
        <img src="@Model.FeaturedImage" />
    </div>

    @if (Model.ContentList != null)
    {
        @foreach (ContentChunk cc in Model.ContentList)
        {
            @Html.EditorFor(model => cc, cc.GetType().Name)
        }
    }
    <div class="row column">
        <input type="submit" value="Save" class="button success" />
    </div>
}
