@model IEnumerable<zakjr_mag.Models.BlogPost>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model)
{
<article class="blog-post">
    <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
    <img class="thumbnail" src="@Html.DisplayFor(modelItem => item.FeaturedImage)">
    <h2>@Html.DisplayFor(modelItem => item.Subtitle)</h2>
    <div class="callout">Posted @Html.DisplayFor(modelItem => item.PostDate.Date)</div>
    <section class="entry-content cf" itemprop="articleBody">
        @item.Content
    </section>
</article>
}
