<!DOCTYPE html>
@{
    ViewBag.InAdminArea = true;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ADMIN - zakjr</title>

    @Html.Partial("GlobalHeadPartial")
    <environment names="Development">
        <link rel="stylesheet" href="~/css/admin.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/admin.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @*User bar*@
    <div class="top-bar">
        <div class="top-bar-right">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    @*Content*@
    <div class="row">
        <section class="large-6 large-offset-3 columns" style="margin-top: 1rem">
            <h1>@ViewBag.Title</h1>
            <div class="row column">
                @RenderBody()
            </div>
        </section>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/foundation-sites/dist/foundation.js"></script>
        <script src="~/lib/autosize/dist/autosize.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/admin.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"
                asp-fallback-src="~/lib/foundation-sites/dist/foundation.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/lib/autosize/dist/autosize.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/admin.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
